{% extends "UekVodBundle::layout.html.twig" %}

{% block header %}
	<h1>Wypożyczalnia filmów VOD</h1>

{% endblock %}
        
 {% block AvailableFilms %}
      
	<h2>Dostępne filmy:</h2>

               {% for film in available %}
  
                <a href="{{path('film_name',{'id': film.id})}}" class="list-group-item">{{film.name}}
                {{film.id}}
                {{film.cover}}
                <img src="{{asset('bundles/uekvod/images/'~ film.name ~'.jpg')}}" class="img-thumbnail">
                </a>
             
                
      
         {% endfor %}

{% endblock %}		

 {% block content %}
        <h3>Witaj na stronie. Materiały nie mają charakteru komercyjnego. Służą jedynie do celów naukowych</h3>
 {% endblock %}
 
  {% block PopularFilms %}
	<h2>Najbardziej popularne filmy:</h2>

               {% for film in popular %}                      
                <a href="{{path('film_name',{'id': film.id})}}" class="list-group-item">
            <span class="badge">{{film.num}}</span>
             {{film.name}}                
                </a>
            </li>

         {% endfor %}
	
{% endblock %}
        
 {% block ReviewFilms %}
	<h2>Najwięcej recenzji:</h2>

               {% for film in review %}
                <a href="{{path('film_name',{'id': film.id})}}" class="list-group-item">
            <span class="badge">{{film.num}}</span>
             {{film.name}}
            </a>
   
         {% endfor %}
	
{% endblock %}

        
 {% block Genre %}
  <div class="list-group">
	<h2>Gatunki:</h2>

         {% for film in genre %}

             <a href="{{path('film_genre',{'genre': film.name})}}" class="list-group-item">{{film.name}}</a>

         {% endfor %}	
   </div>
{% endblock %}
        