{% extends "UekVodBundle::layout.html.twig" %}

{% block header %}
	<h1>Wypożyczalnia filmów VOD</h1>
        <p><a class="btn btn-primary btn-lg" href="{{ path('uek_vod_show_orders') }}" role="button">Historia zamówień</a></p>
{% endblock %}

 {% block AvailableFilms %}

	<h2>Dostępne filmy:</h2>
           <ul class="list-group">
               {% for film in available %}
            <li class="list-group-item">
            <span class="badge"></span>
             {{film.name}}
            </li>
      
         {% endfor %}
     </ul>		
{% endblock %}		

 {% block content %}
        <h1>test</h1>
 {% endblock %}
 
  {% block PopularFilms %}
	<h2>Najbardziej popularne filmy:</h2>
           <ul class="list-group">
               {% for film in popular %}
            <li class="list-group-item">
            <span class="badge">{{film.num}}</span>
             {{film.name}}
            </li>
        
         {% endfor %}
     </ul>		
{% endblock %}
        
 {% block ReviewFilms %}
	<h2>Najwięcej recenzji:</h2>
           <ul class="list-group">
               {% for film in review %}
            <li class="list-group-item">
            <span class="badge">{{film.num}}</span>
             {{film.name}}
            </li>
   
         {% endfor %}
     </ul>		
{% endblock %}

        
 {% block Genre %}
  <div class="list-group">
	<h2>Gatunki:</h2>

         {% for film in genre %}

             <a href="{{path('film_genre',{'genre': film.name})}}" class="list-group-item">{{film.name}}</a>

         {% endfor %}	
   </div>
{% endblock %}
        