{% extends "UekVodBundle::information.html.twig" %}


{% block header %}<a href="{{path('uek_vod_homepage')}}" class="list-group-item">
  <h1>Strona główna</h1></a>
{% endblock %}

  
  {% block content %}
	<h2>Wybrany film:</h2>

               
        {% for film in name %}
        <h3>{{film.name}}</h3><br>
 
        <p><a class="btn btn-primary btn-lg" href="" role="button">Wypożycz</a>
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary btn-lg" href="{{path('add_review')}}" role="button">Dodaj recenzje</a>
        {% endif %}
        </p>
        Cena: {{film.price}} <br><br>
             {{film.description}}<br>
        <img src="{{asset('bundles/uekvod/images/'~ film.name ~'.jpg')}}" class="img-thumbnail"><br>
             {{film.actor1}}<br>
             {{film.actor2}}<br><br>
         {% endfor %}
         {% for reviews in review %}
             <h3>{{reviews.date|date("F jS \\a\\t g:ia")}}<br><br></h3>
             {{reviews.description}}<br><br>
         {% endfor %}
	
{% endblock %}