{% extends "UekVodBundle::information.html.twig" %}


{% block header %}
{% endblock %}

{% block success %}
{% endblock %}
  {% block content %}

	<h2>Wybrany film:</h2>
               
        {% for film in name %}
            
            <h3>{{film.name}}</h3><br>
                <dev>
                    <p>
                        <a class="btn btn-primary btn-lg" 
                           action="{{render(controller('UekVodBundle:Cart:add',{title:film.name})) }}" 
                           role="button">Wypożycz</a>
                </dev>
                
                {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-primary btn-lg" 
                       href="{{path('add_review',{'id': film.id})}}" 
                       role="button">Dodaj recenzje
                    </a>
                {% endif %}
                    </p>
        Cena: {{film.price}} <br><br>
             {{film.description}}<br>
        <img src="{{asset('bundles/uekvod/images/'~ film.name ~'.jpg')}}" class="img-thumbnail"><br>
             {{film.actor1}}<br>
             {{film.actor2}}<br><br>
         {% endfor %}
         {% for reviews in review %}
             {#{reviews.create_date|date("F jS \\a\\t g:ia")}#}
             <h3>{#{reviews.create_date}#}<br><br></h3>{#{|date("F jS \\a\\t g:ia")}#}
             {{reviews.description}}<br><br>
         {% endfor %}
	
{% endblock %}