<!DOCTYPE HTML>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<html>
	<head>
		<meta charset="UTF-8">
        </head>
        
        <title>Wypożyczalnia</title>
	<body>
		<div class="container">
			<header class="row">
				<div class="jumbotron">
					{% block header %}
                                    <h1><a href="{{path('uek_vod_homepage')}}">Wypożyczalnia filmów VOD</a></h1>
                                    <p><small>Witaj na stronie. Materiały nie mają charakteru komercyjnego. Portal jest stworzony jako praca zaliczeniowa na przedmiot Pracownia programowanie UEK</small></p>
					{% endblock %}
                                                    {% if is_granted('ROLE_USER') %}
                                                    <p>
                                                    Witaj {{app.user.username}}! 
                                                    <a href="{{path('fos_user_security_logout')}}" class="btn btn-primary btn-lg">Wyloguj</a>                                                    
                                                    <a href="{{path('uek_vod_show_orders')}}" class="btn btn-primary btn-lg">Historia zamówień</a>

					
				
			{% else %}
				<p>
                                         <a class="btn btn-primary btn-lg" href="{{path('fos_user_security_login')}}" role="button">Zaloguj</a>

		
			{% endif %}
                                         {% block orderNumber %}
                                    <a class="btn btn-primary btn-lg" href="{{path('vod_cart')}}" class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">{{render(controller('UekVodBundle:Cart:get')) }}  {#{orderNumber}#}</span></a>
		{{render(controller('UekVodBundle:Cart:get')) }}
                                    {% endblock %}
</p>
                                </div>
			</header>
			
			<div class="row">
                                <div class="col-md-4">
                                    {% block information %}

                                    {% endblock %}
                                 <div class="row">
                
                <div class="container">
                    <br><br>
			<footer class="row">
				<p>(c) Sebastian Szymczyna</p>
			</footer>
		</div>
            </div>
				</div>
                            				
			           
				<div class="col-md-8">
					{% block content %}
						    {% block FOSlog %}
                                    
						{% endblock %}
					{% endblock %}
				</div>   
                        

                    



	</body>
</html>